export GRANT_TYPE="client_credentials"
export CLIENT_ID="26998"
export CLIENT_SECRET="a17d9a6fec0774f9fad3fce009f83b25b8230c5309f01f71d08b2ec40cf700e7"
export SCOPE="general"
export CORS_URL="http://localhost:4000"
export STRIPE_PUBLISHABLE_KEY="pk_test_cIbpObRf94ywzzB5XcVK7Ncx00Skk47BoP"
export STRIPE_PRIVATE_KEY="sk_test_fDhVyQPAasAg0lAZiXC10S3B000ijtctiU"
